<div class="content">
  <form action="/type_service" method="post">
    <input type="hidden" name="_method" value="POST">

    <div class="mb-3">
      <label for="name" class="form-label">Наименование</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Наименование" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
</div>