<div class="row align-items-center justify-content-center text-center vh-100">
  <div class="col-4">
    <p>
      <b>Добро пожаловать в систему</b>
      <br>
      <small class="text-body-secondary"><b>Выберите раздел что бы продолжить</b></small>
    </p>
  </div>
</div>